.appear-enter-active, .appear-leave-active { transition: opacity .1s; }
.appear-enter, .appear-leave-active { opacity: 0; }
.__nuxt-error-page .error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Error page styling */
.__nuxt-error-page {
  background: none;
  position: relative;
 }
.__nuxt-error-page a {
  font-family: "ComingSoon", sans-serif;
  background: #fca5a5;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  font-size: 1.25rem;
  color: #000 !important;
  transition: .3s;
}
.__nuxt-error-page .description:hover {
  transition: .3s;
  transform: scale(1.2);
}
/* Hide nuxt logo */
.__nuxt-error-page .logo {
  display: none;
}

@keyframes appear {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear2 {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  20% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
